@{
    Layout = "_Layout";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@model Catalog
@if (Model != null)
{
<h2>Поточний каталог: @Model.Name</h2>

@if (Model.SubCatalogs != null && Model.SubCatalogs.Any())
{
    <ul class="list-group">
        @foreach (var subCatalog in Model.SubCatalogs)
        {
            <li class="list-group-item">
                <!-- Використовуємо форму для відправки POST-запиту на сервер, стилізовану як гіперпосилання -->
                <form asp-action="ChangeCurrentCatalog" asp-controller="Catalog" method="post" style="display: inline;">
                    <input type="hidden" name="CatalogId" value="@subCatalog.CatalogId" />
                    <a href="javascript:void(0);" onclick="this.parentNode.submit();" style="color: blue; text-decoration: underline; cursor: pointer;">@subCatalog.Name</a>
                </form>

            </li>
        }
    </ul>
}
else
{
    <p>Поточний каталог не має підкаталогів.</p>
}
}
else
{
    <p>Модель є нульовою.</p>
}

       

        
        




<div class="btn-group my-2" role="group" aria-label="Basic mixed styles example">
        <form asp-action="ExportToXml" asp-controller="Catalog" method="post">
            <button class="btn btn-primary" type="submit">Експорт в XML</button>
        </form>


        <form asp-action="ClearDatabase" asp-controller="Catalog" method="post">
            <button class="btn btn-danger mx-2" type="submit">Очистити бд</button>
        </form>

       <form asp-action="ImportFromXml" asp-controller="Catalog" method="post">
            <button class="btn btn-primary" type="submit">Імпорт з XML</button>
        </form>
</div>
